

<a type="button" class="btn btn-sm ------CSS TYPE------" 
   href="------Action Name------Parameter------">
    <span class="glyphicon------Icon TYPE------"></span>
    <span class="sr-only">------Button Text------</span>
</a>
